<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <%if (orders && orders.length == 0) { %>
                <h1>Nothing there!</h1>
           <% }else { %>
               <ul>
                   <% for(let order of orders) {%>
                      <li>
                          <h1>Order Id: <%=order.id%></h1>
                          <ul>
                              <% for( let product of order.products ) {%>
                                  <li><%=product.title%> &nbsp; (<%=product.orderItem.quantity%>)</li>
                              <%}%>
                          </ul>
                      </li>
                   <%}%>
               </ul>
            <%}%>
        </main>
        <%- include('../includes/end.ejs') %>
